html, body {
	margin: 0;
	text-align: center;
	text-indent: 2em;
}
body {
	width: 100%;
}
#site-header-container {
	padding: 1em 0;
	background-color: lightgray;
}
#site-title {
	font-size: 2em;
	font-weight: bold;
}
#main-container {
	padding: 1em 4em;
}
#site-greeting {
	font-size: 1.8em;
	font-weight: bolder;
}
#site-footer-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 1em 0;
	background-color: lightgray;
}
.knowledge-container {
	padding: 1em 0;
	text-align: left;
}
.knowledge-item-container {
	padding: 0;
	text-indent: 0;
}
.knowledge-item-title {
	padding-right: .5em;
	color: darkblue;
	font-weight: bolder;
	font-size: 1em;
}
.knowledge-item-content {
	padding-left: .5em;
	font-weight: bold;
	font-size: 1em;
}